:root {
  --color-primary: #1abc9c; /* Turquesa principal de 'Viva' */
  --color-primary-dark: #16a085; /* Turquesa más oscuro de la onda */
  --color-primary-darker: #0e6655; /* Turquesa aún más oscuro para el hover */
  --color-primary-shadow: rgba(26, 188, 156, 0.5);
  --color-dark: #34495e; /* Gris oscuro de 'Speak' */
  --color-text: #2c3e50; /* Color de texto más oscuro del eslogan y fondo oscuro */
  --color-light: #ecf0f1; /* Gris claro del 'Speak' en fondo oscuro */
  --color-border: #bdc3c7; /* Color del borde y del eslogan con fondo oscuro */
  --color-white: #ffffff; /* Blanco */
  --color-black: rgba(0, 0, 0, 0.1); /* Negro con transparencia */
  --color-black-20: rgba(0, 0, 0, 0.2);
  --color-black-30: rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--color-dark);
  background-color: var(--color-light);
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.highlight {
  color: var(--color-primary);
  font-weight: bold;
}

/* **********NAV BAR*********** */
header {
  background-color: var(--color-white);
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  text-align: center;
  color: var(--color-text);
}

.header-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 80px;
}

.brand {
  padding-left: 20px;
}

.brand img,
.brand img:visited {
  color: var(--color-white);
  text-decoration: none;
  height: 70px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  cursor: pointer;
  display: block;
  padding: 0 20px;
  line-height: 80px;
  background: var(--color-white);
  color: var(--color-text);
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  background: var(--color-primary-darker);
  color: var(--color-text);
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}

nav ul li .btn {
  line-height: 80px; /* Ajusta esto al mismo line-height que los otros enlaces */
  margin: 0; /* Elimina el margen si no es necesario */
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 75px;
  width: 75px;
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: var(--color-text); /* El color del símbolo en la navegación */
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(-45deg);
}

#nav-toggle.active span:after {
  transform: rotate(45deg);
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  .top-nav {
    position: absolute;
    width: 100%;
    padding: 74px 0 15px;
    display: block;
    top: 0;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    float: none;
  }

  nav ul li a {
    padding: 20px;
    line-height: 20px;
  }

  nav ul li .btn {
    line-height: 20px;
    margin: 0;
    padding: 20px;
  }
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}

/*****************TOP-CONTAINER*****************/

ul {
  list-style: none;
  padding: 0;
}

#benefits ul li {
  margin: 10px 0;
}

iframe {
  width: 100%;
  height: 300px;
}

section {
  margin: 40px auto; /* Más uniforme y centrado */
  padding: 20px;
  max-width: 800px; /* Asegura que las secciones no se expandan demasiado */
}

/* Espaciado interno dentro de cada sección */
section h2 {
  margin-bottom: 20px;
}

#benefits,
#video-demo,
#contact {
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
  padding: 70px 2rem 130px;
}

#video-demo video {
  display: block; /* Centra el video */
  margin: 0 auto; /* Centra el video horizontalmente */
  max-width: 80%; /* Ajusta el ancho máximo del video */
  height: auto; /* Mantiene la proporción del video */
  border-radius: 10px; /* Opcional: para bordes redondeados */
  box-shadow: 0 4px 8px var(--color-black-20); /* Opcional: añade una sombra para mejorar el diseño */
}

/* Formulario */
.contact-form {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  background-color: var(--color-white); /* Fondo blanco para contraste */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px var(--color-black); /* Sombra para un efecto de elevación */
}

.contact-form label {
  display: block;
  font-weight: bold;
  color: var(--color-dark);
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  width: 100%; /* Ajusta el ancho de los campos al contenedor */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--color-border); /* Borde del campo */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 20px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--color-primary); /* Cambia el color del borde al enfocar */
  outline: none; /* Elimina el borde azul predeterminado */
  box-shadow: 0 0 5px var(--color-primary-shadow); /* Añade un efecto de enfoque */
}

.contact-form button {
  background-color: var(--color-primary); /* Color principal */
  color: var(--color-white); /* Texto blanco */
  border: none; /* Sin borde */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición para un efecto suave */
}

.contact-form button:hover {
  background-color: var(
    --color-primary-dark
  ); /* Color más oscuro al pasar el mouse */
}

/* Media queries para tabletas (pantallas entre 768px y 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .contact-form,
  #benefits,
  #video-demo {
    max-width: 80%; /* Reduce el ancho */
  }
}

/*****************FOOTER*****************/
footer {
  background-color: var(--color-primary-darker);
  padding: 15px 0;
  color: var(--color-white);
}
.Copyright {
  font-size: 0.75rem;
  padding: 20px 0;
}

.footer-link {
  margin: 10px 20px;
}

.footer-link:hover {
  color: #eaf6f6;
}

/*****************RESPONSIVENESS*****************/
@media (max-width: 767px) {
  body {
    font-size: 14px; /* Ajusta el tamaño del texto */
  }

  #benefits,
  #video-demo,
  #contact {
    max-width: 95%; /* Reduce el ancho para pantallas pequeñas */
    padding-bottom: 80px;
  }

  /* Centra el video y ajusta su tamaño */
  #video-demo video {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: auto; /* Mantén las proporciones */
  }

  /* Beneficios: Mejora el espaciado en móviles */
  #benefits ul {
    padding: 0;
  }

  #benefits ul li {
    margin: 10px 0;
    font-size: 16px;
  }

  ul li {
    font-size: 14px; /* Texto más compacto */
  }

  #video-demo video {
    width: 90%; /* Más espacio para bordes */
    max-width: 600px; /* Asegura que no sea demasiado grande */
    margin: 0 auto; /* Centrado */
  }

  .contact-form {
    margin: 20px auto;
    padding: 20px 15px; /* Reduce padding en pantallas pequeñas */
  }

  /* Botón del formulario */
  .contact-form button {
    font-size: 16px;
    padding: 10px 15px; /* Más espacio en el botón */
  }
}
