 <footer>
      <div class="Copyright">
        <p>
          © <span id="year"></span> VivaSpeak. Todos los derechos reservados. |
          <a href="/politica-de-privacidad" target="_blank"
            >Política de Privacidad</a
          >
          |
          <a href="/terminos-y-condiciones" target="_blank"
            >Términos y Condiciones</a
          >
          |
          <a href="/aviso-legal" target="_blank">Aviso Legal</a>
        </p>
        <p>
          VivaSpeak está diseñado para gestionar interacciones con clientes y
          contactos que han dado su consentimiento previo. No se utiliza para
          campañas de telemarketing no solicitadas.
        </p>
      </div>
      <div class="social-media">
        <a
          href="https://www.instagram.com/vivaspeakai"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="https://cdn.jsdelivr.net/npm/simple-icons@v10/icons/instagram.svg"
            alt="Instagram"
          />
        </a>
        <a
          href="https://www.linkedin.com/company/vivaspeak"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/linkedin.svg"
            alt="LinkedIn"
          />
        </a>
        <a
          href="https://www.youtube.com/@vivaspeak_ai"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="https://cdn.jsdelivr.net/npm/simple-icons@v10/icons/youtube.svg"
            alt="YouTube"
          />
        </a>
      </div>
      <div class="footer-phone">
        <a href="tel:+34951798932">+34 951 798 932</a>
        <br />
        <em>Valeria, nuestra agente de voz IA responderá tus dudas.</em>
      </div>
    </footer>